<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="ServerFram.UserController, ServerFram" url="tcp://localhost:9000/BEServer/UserController"/>
			</client>
			<channels>
				<channel ref="tcp client" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>